.about_me{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;

  p{
    color: #FFFFFF;
  } 
  
  h1{
    color: #FFFFFF;
    font-weight: 500;
  }
}

.right_section{
  width: 50%;

  #description{
    color: rgb(175, 174, 174);
  }

  .concept{
    width: 80%;
    margin-top: 80px;
    
    img{
      margin-left: 100px;
    }
  }

  .mobile_uiux{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

    #mobile{
      flex: 0 0 40%;
    }

    #uiux{
      flex: 0 0 40%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about_me{
    flex-direction: column;
    align-items: center;
  }

  .right_section{
    flex-direction: column;
    width: 100%;
    margin: auto;

    h1{
      font-size: 1.5rem;
      padding-left: 5%;
    }

    #quote{
      padding-left: 5%;
    }

    #description{
      display: none;
    }

    .concept{
      display: flex;
      width: 100%;

      img{
        width: 50px;
        margin: auto;
      }
    }

    .mobile_uiux{
      flex-direction: column;
      padding: 0 20px 0 20px;
    }
  }

  .ccc{
    flex-direction: column;
    padding-left: 25px;

    .chart{
      
      img{
        width: 100%;
      }
    }
  }
}