p{
  color: #FFFFFF;
}

a{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #81f9b9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #81f9b9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header{
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 30px;
  padding: 0 2% 0 2%;
  flex-wrap: wrap;
}

.name_switch{
  display: flex;
  align-items: baseline;
  flex: 0 0 35%;
  gap: 5%;
}

.navbar{
  display: flex;
  flex: 0 0 50%;

  nav{
    width: 100%;
    display: flex;
    gap: 5%;
  
    a:hover{
      color: #81f9b9;
    }
  }
}

.hamburger_menu{
  display: none;
}

.social_media{
  display: flex;
  align-items: baseline;
  flex: 0 0 15%;
  gap: 10%;

  img{
    width: 25px;
    cursor: pointer;
  }

  a:hover{
    color: #81f9b9;
  }
}


@media only screen and (max-width: 768px) {
  body{
    width: 100%;
  }

  .header{
    width: 100%;
    align-items: center;
  }

  .name_switch{
    display: flex;
    width: 100%;
    align-items: center;
    flex: 1 0 0;
  }

  .navbar{
    nav{
      flex-direction: column;
    }
  }

  .hamburger_menu{
    display: flex;
    padding: inherit;

    input{
      display: none;
    }

    span{
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;  
      background: #81f9b9;
      border-radius: 3px; 
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
  }

  .hamburger .bar1 {
    transform-origin: 5%;
  }

  .hamburger .bar3 {
    transform-origin: 5%;
  }

  .checkbox:checked + label > .hamburger > .bar1{
    transform: rotate(45deg);
    position: relative;
    bottom: 2.5px;
    left: 2px;
  }

  .checkbox:checked + label > .hamburger > .bar2{
    transform: rotate(-45deg);
    background-color: transparent;
  }

  .checkbox:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
    position: relative;
    left: 2px;
  }
  
  .open-menu {
    opacity: 1;
    display: flex;
    -webkit-animation: slide-in-right 0.5s 
    cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s 
    cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: #81f9b9;
    position: absolute;
    right: 0;
    left: 10px;
    top: 80px;
    z-index: 1;

    nav a{
      margin-top: 20px;
      padding: 10px;
    }
  }
  
  .closed-menu {
    opacity: 0;
    height: 0;
    padding: 0;
    display: none;
  }

  .social_media{
    display: none;
  }
}