.projects_container{
  margin-top: 7%;

  #all_projects{
    padding-left: 7%;
    color: #81f9b9;
  }

  #all_projects:hover{
    color: #FFFFFF;
  }


  hr{
    width: 87%;
  }
}

.projects{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .projects_container{
    margin-top: 30%;
  }

  .projects{
    flex-direction: column;
    padding-left: 10%;
  }
}